@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-extralight.eot');
	src: url('montserrat-extralight.eot?#iefix') format('embedded-opentype'),
	url('montserrat-extralight.woff2') format('woff2'),
	url('montserrat-extralight.woff') format('woff'),
	url('montserrat-extralight.svg#montserratextralight') format('svg');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}