@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-extrabold.eot');
	src: url('montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
	url('montserrat-extrabold.woff2') format('woff2'),
	url('montserrat-extrabold.woff') format('woff'),
	url('montserrat-extrabold.svg#montserratextrabold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}