@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-semibolditalic.eot');
	src: url('montserrat-semibolditalic.eot?#iefix') format('embedded-opentype'),
	url('montserrat-semibolditalic.woff2') format('woff2'),
	url('montserrat-semibolditalic.woff') format('woff'),
	url('montserrat-semibolditalic.svg#montserratsemibold_italic') format('svg');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}