@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-extrabolditalic.eot');
	src: url('montserrat-extrabolditalic.eot?#iefix') format('embedded-opentype'),
	url('montserrat-extrabolditalic.woff2') format('woff2'),
	url('montserrat-extrabolditalic.woff') format('woff'),
	url('montserrat-extrabolditalic.svg#montserratextrabold_italic') format('svg');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}