@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-blackitalic.eot');
	src: url('montserrat-blackitalic.eot?#iefix') format('embedded-opentype'),
	url('montserrat-blackitalic.woff2') format('woff2'),
	url('montserrat-blackitalic.woff') format('woff'),
	url('montserrat-blackitalic.svg#montserratblack_italic') format('svg');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}