@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-black.eot');
	src: url('montserrat-black.eot?#iefix') format('embedded-opentype'),
	url('montserrat-black.woff2') format('woff2'),
	url('montserrat-black.woff') format('woff'),
	url('montserrat-black.svg#montserratblack') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}