@font-face {
	font-family: 'Montserrat';
	src: url('montserrat-medium.eot');
	src: url('montserrat-medium.eot?#iefix') format('embedded-opentype'),
	url('montserrat-medium.woff2') format('woff2'),
	url('montserrat-medium.woff') format('woff'),
	url('montserrat-medium.svg#montserratmedium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}